<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Editing Sale</h1>
    </div>
  </div>

  <hr>

  <%= render 'form', sale: @sale %>

  <hr>
  
  <div class="row">
    <div class="col-md-12">
      <div class="btn-toolbar" role="toolbar">
        <%= link_to 'Show', @sale,
            class: "btn btn-info" %>
        <%= link_to 'Back', sales_path,
            class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>