<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Sales</h1>
        
      <%= link_to 'New Sale', new_sale_path,
          class: "btn btn-success" %>

      <hr>

      <p id="notice"><%= notice %></p>
      <div id="filter-sales-form">
        <%= render 'filter_sales' %>
      </div>

      <hr>

      <div id="sales-partial">
        <%= render 'sales', sales: @sales %>
      </div>
    </div>
  </div>
</div>